body {
  font-family: "Poppins", sans-serif;
}
.fat {
  font-size: 45px;
}
#name {
  color: tomato;
}
.half-width img {
  width: 90%;
}
.half-width {
  float: left;
  width: 40%;
  margin-left: 5%;
  padding-left: 2%;
  margin-top: 3%;
  height: 450px;
}
.link-btn {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: 700;
  color: white;
}
h2 {
  color: navy;
  font-weight: 700;
  font-size: 35px;
}
#center {
  text-align: center;
}
#clr {
  color: tomato;
}
.column {
  float: left;
  width: 30%;
  padding: 20px;
  box-shadow: 5px 5px 40px gray;
  border-radius: 15px;
  height: 380px;
  margin-bottom: 150px;
}
.btn {
  text-decoration: none;
  color: navy;
}
.bnr-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.bnr-card {
  position: relative;
}

.bnr-text {
  position: absolute;
  top: 37.5%;
  color: white;
  padding: 300px;
}
h4 {
  font-size: 40px;
}
